@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accend-color-dark:#1d69a3;
    --padding-inline-section:20px;
}

body{
    font-family: 'poppins',sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}
  
h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

.small-bold-text{
    font-size: 1rem;
    font-weight: 100;
    font-size: 14px;
    
}
.small-bold-text > a{
    color: white;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;

}

.flex{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}
.hover-link:hover{
    color: #2294ed;
}

ul{
    list-style: none;
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700px;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
}

.primary-button:hover{
    background-color: var(--accend-color-dark);
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;

}
.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}
/* Nav bar */
.banner-text{
    /* color: white; */
    padding: 15px 30px;
    text-align: center;
}

.top-banner{
    background-color: #e74694;
    background-image: url(assets/asset\ 32.png);
    background-size: 300px;
}

.company-logo img{
    width: 200px;
}

.main-nav{
    overflow: visible;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}


.nav-links ul{
    justify-content: end;
    gap: 40px;

}

.nav-toggle{
    display: none;
}

/* Header */
header{
    padding: 50px var(--padding-inline-section);
   
}

.header-section{
    justify-content: center;
    gap: 50px;
}
.header-right img{
    width: 100%;

}
.header-left{
    max-width: 40vw;
}

.header-left h1{
    margin-top: 20px;
}

.get-started-btn{
    margin-top: 31px;
}

/* Companies section */

.companies-header{
    text-align: center;
    margin-block: 20px;
    color: var(--primary-text-color);
}

.logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.logo{
    height: 46px;

}
.features-area{
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    size: 50px;
}

.features-section{
    text-align: center;
    padding: 80px var(--padding-inline-section) 0px;
    background-image: url(assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.features-card{
    flex-direction: column;
    gap: 15px;
    width: 30%;
    justify-content: space-between;
    text-align: center;
}

/* Big feature section */

.big-feature-section{
    justify-content: space-between;
}
.feature-img img{
    padding: 30px var(--padding-inline-section);
    width: 100%;
}

.big-feature-container{
    gap: 30px;
}

.feature-description{
    padding: 10px 30px;
}

.feature-description h2,h3{
    margin: 20px 0px;
}


.example-header{
    text-align: center;
}

.example-heading-text{
    margin-bottom: 10px;
}

.example-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.9)) ,url(assets/asset\ 36.jpeg);
    background-size: cover;
    transition: 0.6 ease-out;
    
}
.example-card:hover{
    box-shadow: 0 0 10px #888;
}
.example-card:nth-child(2){
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.9)) ,url(assets/asset\ 37.jpeg);
    background-size: cover;
}
.example-card:nth-child(3){
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.9)) ,url(assets/asset\ 38.jpeg);
    background-size: cover;

}
.example-card:nth-child(4){
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.9)) ,url(assets/asset\ 39.jpeg);
    background-size: cover;
}

.card-text{
    color: white;
    bottom: 20px;
    left: 20px;
    right: 20px;
    position: absolute;
}

.example-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}

.cta-section-container{
    flex-direction: column;
    gap: 30px;   
}

.cta-section{  
    height: 400px;
}

/* footer */
footer{
    
    height: 450px;
    padding-block: 80px;
    background-color: #ebf2fa;
}

.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;   
}

.footer-container{
    
    align-items: flex-start;
    padding: 76px  70px;
    justify-content: space-evenly; 
}

/* sub-footer */

.subfooter{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}

.subfooter-container{
    justify-content:space-evenly;
}
.Advance-info{
    gap: 20px;
}

.socialmedia{
    gap: 20px;
}

.product-menu{
    height: 350px;
    width: 170px;
    position:absolute;
    top: 70%;
    background-color: white;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    padding-left:20px;
    visibility: visible;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px  gray;  
}

.product-menu2{
    display: none;
}

.resource-menu2{
    display: none;
}
.product-menu a{
    color: var(--primary-text-color);
}
.resources-menu a{
    color: var(--primary-text-color);
}

.product-menu a:hover{
    color: #2294ed;
}
.resources-menu a:hover{
    color: #2294ed;
}

.list1 > :first-child:hover  .product-menu2{
    display: block;
}

.list1 > :nth-child(4):hover .resource-menu2{
    display: block;
    
}

.resources-menu{
    height: 250px;
    width: 170px;
    position: absolute;
    top: 70%;
    background-color: white;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    padding-left:20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px  gray;
   
}